<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello, There!</h1>
        <p class="lead">This project is made with the help of Angular while practicing my skills.</p>
        <hr class="my-4">
        <p>You Can Add To-do and create yout own list. The list is save on your local storage.
            <br>
            So, dont work aboutabout geting your todo lost.
        </p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
    </div>
</div>